/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

[v-cloak] { display: none; }
a { cursor: pointer; }
.reaction-button { color: #eee; text-decoration: none; }
.reaction-button.active { color: blue; }
.material-icons { font-size: 1em; }
.material-icons-large { font-size: 32px; }

.header {
  background: #abc;
  box-shadow: 0 0 2px black;
  font-size: 32px;
  height: 64px;
  left: 0;
  line-height: 64px;
  position: fixed;
  top: 0;
  width: 100%;
}
.header-item {
  display: inline-block;
  height: 64px;
  line-height: 64px;
  margin: 0 8px;
  overflow: hidden;
}
.header-item-current-user {
  font-size: 18px
}
.header-right {
  position: absolute;
  right: 0;
  top: 0;
}
body { padding-top: 72px; }

.comment-form {
  font-size: 24px;
  padding-bottom: 20px;
}
.comment-form input {
  font-size: 24px;
  width: 400px;
}
article {
  white-space: pre;
}

form input {
  font-size: 24px;
  width: 400px;
}
form textarea {
  font-size: 24px;
  height: 200px;
  width: 400px;
}
